<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Busca Animal</title>
</head>
<body>
    <div style="background-color: orange">
    <a class="navbar">Busca Animal</a>
    <form>
    <input type="text" id="buscar-animal" placeholder="Exemplo: leão" style="background-color: pink">
    <button type="submit">Pesquisar</button>
    </form>
    <div class="result-description"> </div>
    <div class="result-description"> </div>
    <div class="result-description"> </div>
    <div class="result-description">.</div>
    </div>
</body>
</html>